
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    height: 2.2em;
}

#content {
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 2.2em;
    /*background-color: #00FF00;*/
}

/* general style to fill all available space */
.fill {
    width: 100%;
    height: 100%;
}

.pageElement {
    margin: 6px;
}

.tle-container {
    width: 100%;
}

/* styles to format values */
.value-ok {
    color: #33CC00;
}

.value-warning {
    color: #FF9900;
}

.value-error {
    color: #FF0000;
}

/* dgrid table columns */

.field-period, .field-unit, .field-short-value {
    width: 50px;
}

.field-groundStation, .field-satellite, .field-contact, .field-status, .field-level, .field-communication-link-type, .field-class {
    width: 100px;
}

.field-timestamp, .field-short-name, .frame-address, .field-short-value {
    width: 150px;
}

.field-issuedBy, .field-host {
    width: 180px;
}

.field-source {
    width: 200px;
}

.field-name {
    width: 300px;
}

.field-category {
    width: 350px;
}

.field-value, .field-description {
    width: 100%;
    min-width: 100px;
}

/* Details view */
.details-title {
    font-weight: bold;
    font-size: 1.2em;
}

.details-label {
    margin: 3px;
    font-weight: bold;
    width: 200px;
}

.details-value {
    margin: 3px;
    max-width: 550px;
}

