html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Animations */
@-moz-keyframes login {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
   margin-top: -50px;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
   margin-top: -75px;
 }
}

/* Main CSS */
body {
	font-family: sans-serif;
	background-color: #323B55; 
}

#slick-login {
	width: 160px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 20%;
	margin-left: -110px;
	margin-top: -75px;
	animation: login 1s ease-in-out;
}

#slick-login label {
	display: none;
}

#slick-login input[type="text"],#slick-login input[type="password"] {
	width: 100%;
	height: 40px;
	positon: relative;
	margin-top: 7px;
	font-size: 18px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);
	padding-left: 20px;
	border-radius: 6px;
}

#slick-login input[type="submit"] {
	float: left;
	height: 40px;
	width: 50%;
	margin-top: 7px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid rgba(0, 0, 0, .49);
	border-radius: 6px;
	background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 50%);
	cursor: pointer;
}

slick-login help,#slick-login button{
	float: right;
	height: 40px;
	width: 50%;
	font-size: 18px;
	margin-top: 7px;
	margin-right: -20px;
	font-weight: bold;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, .49);
	border-radius: 6px;
	background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4	50%);
}

#errorMessage {
	color : red;
	text-align : center;
}