body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
}

/* pre-loader specific stuff to prevent unsightly flash of unstyled content */
#loader {
    padding: 3px;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    vertical-align: middle;
    background: #ededed;
    opacity: 0.5;
}

#CenterContainer {
    width: 100%;
    height: 100%;
}
