body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    height: 2.2em;
}

#content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 2.2em;
/*background-color: #00FF00;*/
}

/* general style to fill all available space */
.fill {
    width: 100%;
    height: 100%;
}

.pageElement {
    margin: 6px;
}

.commandingPageElementForm {
    height: 20%;
}

.commandingPageElementList {
    min-height: 100%;
}

.tle-container {
    width: 100%;
    height: 80%;
}

.tle-row-div {
    padding: 3px;
    margin: 1px;
}

.tle-sat-id {
    font-weight: 700;
    margin-right: 2em;
}

.tle-span-uploader {
    font-style: italic;
    margin-right: 2em;
    color: #919191;
}

.tle-lines {
    padding: 1px;
    margin: 1px;
    font-weight: 400;
}

.tle-span-sat {
    font-style: italic;
    margin-right: 2em;
}

.tle-span-date {
    font-weight: 700;
    margin-right: 2em;
}

/* styles to format values */
.value-ok {
    color: #3C0;
}

.downlink {
    color: #0080FF;
}

.value-warning {
    color: #F90;
}

.value-error {
    color: red;
}

/* dgrid table columns */
.field-period, .field-unit, .field-short-value {
    width: 50px;
}

.field-groundStation, .field-satellite, .field-contact, .field-status, .field-level, .field-communication-link-type, .field-class, .field-long-unit {
    width: 100px;
}

.field-timestamp, .field-short-name, .frame-address, .field-medium-value {
    width: 150px;
}

.field-issuedBy, .field-host {
    width: 180px;
}

.field-source {
    width: 200px;
}

.field-name {
    width: 300px;
}

.field-category {
    width: 350px;
}

.field-value, .field-description {
    width: 100%;
    min-width: 100px;
}

/* Details view */
.details-title {
    font-weight: 700;
    font-size: 1.2em;
}

.details-label {
    margin: 3px;
    font-weight: 700;
    width: 200px;
}

.details-value {
    margin: 3px;
    max-width: 550px;
}

.beacon-result-div {
    border: 1px solid darkgrey;
    padding: 5px;
    margin-top: 10px;
    width: 800px;
    height: 600px;
}

.beacon-grid {
    height: 92%;
    margin-top: 6px;
    margin-bottom: 6px;
}

.past {
    color: #aaa;
    font-style: italic;
}

.future {
    color: #000;
}

.in-progress {
    font-weight: 700;
    color: #000;
}

/* BeaconsView */

.beaconsViewFilter {
	margin-left: 10px;
	margin-top: 5px;
}

#beacon-list-grid .field-timestamp {
    width: 60px;
}

#beacon-list-grid .field-value {
    width: 200px;
}

.speaker{
	background-image:url("../../images/speaker.png");
	background-repeat: no-repeat;
  	width: 16px;
  	height: 16px;
}
.speaker-mute{
	background-image:url("../../images/speakermuted.png");
	background-repeat: no-repeat;
  	width: 16px;
  	height: 16px;
}
.stream-slider{
	
	margin-left:12px;
	
}
.stream-mute{
	
	margin-top:10px;
	
}
.notification-slider{
	
	margin-left:12px;
	
}
.notification-mute{
	
	margin-top:10px;
	
}
