body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #141112;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    letter-spacing: 0pt;
    background-repeat: repeat-x;
    font-size: 11pt;
    overflow: visible;
    color:#fafafa;
}

.firstPage {
 	background-color: #141112;
	color: #fff;
	text-align: center;
}
.text-box {
    padding: 5px;    
    border: 1px solid #DDDDDD;
    
    background: rgb(235,233,249);
	background: -moz-linear-gradient(top, rgb(235,233,249) 0%, rgb(216,208,239) 50%, rgb(206,199,236) 51%, rgb(193,191,234) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(235,233,249)), color-stop(50%,rgb(216,208,239)), color-stop(51%,rgb(206,199,236)), color-stop(100%,rgb(193,191,234)));
	background: -webkit-linear-gradient(top, rgb(235,233,249) 0%,rgb(216,208,239) 50%,rgb(206,199,236) 51%,rgb(193,191,234) 100%);
	background: -o-linear-gradient(top, rgb(235,233,249) 0%,rgb(216,208,239) 50%,rgb(206,199,236) 51%,rgb(193,191,234) 100%);
	background: -ms-linear-gradient(top, rgb(235,233,249) 0%,rgb(216,208,239) 50%,rgb(206,199,236) 51%,rgb(193,191,234) 100%);
	background: linear-gradient(to bottom, rgb(235,233,249) 0%,rgb(216,208,239) 50%,rgb(206,199,236) 51%,rgb(193,191,234) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea',GradientType=0 );
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
}

.text-box:hover {
    border:1px solid #cccccc;
}

.text-box:focus {
    box-shadow:0 0 2px #FFFE00;
}

.button {
	display: inline-block;
	width : 65 px;
	outline: none;
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 1em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;  
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.blue {
	color: #fef4e9;
	border: solid 1px #006fac;
	background: rgb(0,111,172);
	background: -moz-linear-gradient(top,  rgb(0,111,172) 0%, rgb(7,126,192) 45%, rgb(25,146,213) 55%, rgb(6,118,179) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,111,172)), color-stop(45%,rgb(7,126,192)), color-stop(55%,rgb(25,146,213)), color-stop(100%,rgb(6,118,179)));
	background: -webkit-linear-gradient(top,  rgb(0,111,172) 0%,rgb(7,126,192) 45%,rgb(25,146,213) 55%,rgb(6,118,179) 100%);
	background: -o-linear-gradient(top,  rgb(0,111,172) 0%,rgb(7,126,192) 45%,rgb(25,146,213) 55%,rgb(6,118,179) 100%);
	background: -ms-linear-gradient(top,  rgb(0,111,172) 0%,rgb(7,126,192) 45%,rgb(25,146,213) 55%,rgb(6,118,179) 100%);
	background: linear-gradient(to bottom,  rgb(0,111,172) 0%,rgb(7,126,192) 45%,rgb(25,146,213) 55%,rgb(6,118,179) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006fac', endColorstr='#0676b3',GradientType=0 );
}

.blue:hover {
	background: rgb(20,118,170);
	background: -moz-linear-gradient(top,  rgb(20,118,170) 0%, rgb(80,152,191) 45%, rgb(93,170,211) 55%, rgb(30,126,178) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(20,118,170)), color-stop(45%,rgb(80,152,191)), color-stop(55%,rgb(93,170,211)), color-stop(100%,rgb(30,126,178)));
	background: -webkit-linear-gradient(top,  rgb(20,118,170) 0%,rgb(80,152,191) 45%,rgb(93,170,211) 55%,rgb(30,126,178) 100%);
	background: -o-linear-gradient(top,  rgb(20,118,170) 0%,rgb(80,152,191) 45%,rgb(93,170,211) 55%,rgb(30,126,178) 100%);
	background: -ms-linear-gradient(top,  rgb(20,118,170) 0%,rgb(80,152,191) 45%,rgb(93,170,211) 55%,rgb(30,126,178) 100%);
	background: linear-gradient(to bottom,  rgb(20,118,170) 0%,rgb(80,152,191) 45%,rgb(93,170,211) 55%,rgb(30,126,178) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1476aa', endColorstr='#1e7eb2',GradientType=0 );
}

.blue:active {
	color: #fcd3a5;
	background: rgb(0,111,172);
	background: -moz-linear-gradient(top,  rgb(0,111,172) 0%, rgb(7,126,192) 45%, rgb(25,146,213) 55%, rgb(6,118,179) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,111,172)), color-stop(45%,rgb(7,126,192)), color-stop(55%,rgb(25,146,213)), color-stop(100%,rgb(6,118,179)));
	background: -webkit-linear-gradient(top,  rgb(0,111,172) 0%,rgb(7,126,192) 45%,rgb(25,146,213) 55%,rgb(6,118,179) 100%);
	background: -o-linear-gradient(top,  rgb(0,111,172) 0%,rgb(7,126,192) 45%,rgb(25,146,213) 55%,rgb(6,118,179) 100%);
	background: -ms-linear-gradient(top,  rgb(0,111,172) 0%,rgb(7,126,192) 45%,rgb(25,146,213) 55%,rgb(6,118,179) 100%);
	background: linear-gradient(to bottom,  rgb(0,111,172) 0%,rgb(7,126,192) 45%,rgb(25,146,213) 55%,rgb(6,118,179) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006fac', endColorstr='#0676b3',GradientType=0 );
}

#navigationBar, #satelliteList, #groundStationsList, 
#gerenalWidgets, #fsSatelliteList {
	font-size: 1.2em;
	margin: 1em;
	padding: 0;
	width: 10%;
	list-style-type: none;
}

#navigationBar li, #satelliteList li,
#groundStationsList li, #gerenalWidgets li,
#fsSatelliteList li {
	display: block;
	position: relative;
	margin: .2em;
	border-top: 1px solid #006fac;
	border-bottom: 1px solid #006fac;
	padding: 11px 20%;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-size: 13px;
	font-weight: 300;			
	background: rgb(59,157,206);
	background: -moz-linear-gradient(top,  rgb(59,157,206) 0%, rgb(25,146,213) 51%, rgb(59,157,206) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(59,157,206)), color-stop(51%,rgb(25,146,213)), color-stop(100%,rgb(59,157,206)));
	background: -webkit-linear-gradient(top,  rgb(59,157,206) 0%,rgb(25,146,213) 51%,rgb(59,157,206) 100%);
	background: -o-linear-gradient(top,  rgb(59,157,206) 0%,rgb(25,146,213) 51%,rgb(59,157,206) 100%);
	background: -ms-linear-gradient(top,  rgb(59,157,206) 0%,rgb(25,146,213) 51%,rgb(59,157,206) 100%);
	background: linear-gradient(to bottom,  rgb(59,157,206) 0%,rgb(25,146,213) 51%,rgb(59,157,206) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b9dce', endColorstr='#3b9dce',GradientType=0 );
}

#navigationBar li:hover, #satelliteList li:hover,
#groundStationsList li:hover, #gerenalWidgets li:hover,
#fsSatelliteList li:hover {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
	background: rgb(0,183,234);
	background: -moz-linear-gradient(top,  rgb(0,183,234) 0%, rgb(0,158,195) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,183,234)), color-stop(100%,rgb(0,158,195)));
	background: -webkit-linear-gradient(top,  rgb(0,183,234) 0%,rgb(0,158,195) 100%);
	background: -o-linear-gradient(top,  rgb(0,183,234) 0%,rgb(0,158,195) 100%);
	background: -ms-linear-gradient(top,  rgb(0,183,234) 0%,rgb(0,158,195) 100%);
	background: linear-gradient(to bottom,  rgb(0,183,234) 0%,rgb(0,158,195) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
	
	border-color: transparent;
}

#CenterContainer {
	width: 100%;
	height: 100%;
}

#loader {
	padding: 3px;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	vertical-align: middle;
	background: #ededed;
	opacity: 0.5;
}

.dojoDndItem {
    padding: 3px;
    font-size: 0.9em;
}

.dojoDndItemOver {
	background-color: #141112;
    /*background-color: #ededed;*/
    cursor: pointer;
}

.dojoDndItemSelected {
	background-color: #141112;
    /*background-color: #5bbdea;*/
    color: #444;
}

.dojoDndItemAnchor {
	background-color: #141112;
   /* background-color: #5bbdea;*/
    color: black;
}

.dojoDndItemOver .dojoDndItemSelected {
	background-color: #141112;
   /* background-color: #ededed;*/
}

.dojoDndItemOver .dojoDndItemAnchor {
	background-color: #141112;
   /* background-color: #ededed;*/
}

.dojoDndItemBefore {
    border-top: 2px solid #369;
}

.dojoDndItemAfter {
    border-bottom: 2px solid #369;
}

.dojoDndAvatar {
    border: 2px solid #ccc;
}

.dojoDndAvatarHeader {
	background-color: #141112;
    /*background-color: #aaa;*/
}

.dojoDndAvatarItem {
	background-color: #141112;
    /*background-color: #fff;*/
    border-bottom: 1px solid #666;
}

.dojoDndAvatarItem .itemText {
    font-size: 1.2em;
}
